#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// dt-formatter: indent = "  "
// dt-formatter: multilineIntegerCellsIndent = "reindent"
// dt-formatter: multilineListCommaStyle = "leading"

/ {
  combos {
    compatible = "zmk,combos";

    esc {
      bindings = <&kp ESCAPE>;
      key-positions = <0 1>;
    };

    tab {
      bindings = <&kp TAB>;
      key-positions = <12 13>;
    };

    caps {
      bindings = <&kp CAPS>;
      key-positions = <12 13>;
    };

    pgup {
      bindings = <&kp PAGE_UP>;
      key-positions = <23 32>;
    };

    pgdn {
      bindings = <&kp PAGE_DOWN>;
      key-positions = <23 40>;
    };

    home {
      bindings = <&kp HOME>;
      key-positions = <23 39>;
    };

    end {
      bindings = <&kp END>;
      key-positions = <23 41>;
    };
  };

  macros {
  };

  behaviors {
  };

  conditional_layers {
    compatible = "zmk,conditional-layers";
  };

  keymap {
    compatible = "zmk,keymap";

    base {
      bindings = <
        &kp Q             &kp W         &kp E  &kp R          &kp T        &kp Y              &kp U  &kp I         &kp O          &kp P      &kp LEFT_BRACKET  &kp RIGHT_BRACKET
        &kp A             &kp S         &kp D  &kp F          &kp G        &kp H              &kp J  &kp K         &kp L          &kp SQT    &kp ENTER
        &mt LEFT_SHIFT Z  &kp X         &kp C  &kp V          &kp B        &kp N              &kp M  &kp COMMA     &kp PERIOD     &kp SLASH  &kp RIGHT_SHIFT
        &kp LCTRL         &kp LEFT_ALT         &kp BACKSPACE  &lt 1 SPACE         &kp DELETE         &kp LEFT_WIN  &kp RIGHT_ALT  &kp RCTRL
      >;

      sensor-bindings = <&none>, <&none>;
    };

    raise {
      bindings = <
        &kp N1         &kp N2  &kp N3  &kp N4    &kp N5   &kp N6            &kp N7   &kp N8          &kp N9    &kp N0        &kp MINUS  &kp EQUAL
        &kp PAGE_UP    &kp F1  &kp F2  &kp F3    &kp F4   &kp F5            &kp F6   &trans          &trans    &kp SEMI      &kp BSLH
        &kp PAGE_DOWN  &kp F7  &kp F8  &kp F9    &kp F10  &kp F11           &kp F12  &trans          &trans    &kp UP_ARROW  &trans
        &trans         &trans          &kp HOME  &trans            &kp END           &kp LEFT_ARROW  &kp DOWN  &kp RIGHT
      >;

      sensor-bindings = <&none>;
    };
  };
};
